---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Did they pay?</title>
  </head>
  <body class="bg-zinc-950">
    <div class="container mx-auto">
      <div class="flex flex-col items-center justify-center min-h-screen p-8">
        <h1 class="text-xl text-zinc-50">🦤 Did this person pay?</h1>
        <form onsubmit="return onSubmit()" class="flex flex-row flex-wrap items-stretch gap-2 my-4">
          <input
            id="handle"
            type="text"
            class="transition-all ease-in-out duration-200 py-2 px-4 bg-transparent border border-zinc-50 text-zinc-50 text-2xl rounded flex-1 before:content-['@'] disabled:opacity-50"
            maxlength="16"
            pattern="^@?[a-zA-Z0-9_]{1,15}$"
            placeholder="@TwitterHandle"
          />
          <button id="button" class="transition-all ease-in-out duration-200 font-bold text-zinc-50 text-2xl bg-orange-500 rounded py-2 px-4 flex-1 disabled:bg-gray-400"
            >Check</button
          >
        </form>
        <p class="text-zinc-50">First query may take some time.</p>
      </div>
    </div>
  </body>
  <script is:inline>
    const input = document.getElementById("handle");
    const button = document.getElementById("button");

    input.disabled = false;
    button.disabled = false;

    function onSubmit() {
      const handle = input.value.replace("@", "");
      if (handle.trim()) {
        input.disabled = true;
        button.disabled = true;

        console.log("Navigating to " + handle);
        const url = `/u/${handle}`;
        window.location.href = url;
      }

      return false;
    }
  </script>
</html>
